*.pyc
*.png
*.gif
*.jpg
wandb/
training_runs/
*.swp
eval/video/output/
*eval_out*
eval/cherries*
eval/training_trajectories/
figures/
.vscode/
cvdomes_eo/Models/
cvdomes_eo/cvdomes_eo/
geocv_2025_results/video/output*/
geocv_2025_results/video/cover_page_img/
geocv_2025_results/eval/any_dom_any_dom_results*/
geocv_2025_results/eval/data_fusion_results*/
geocv_2025_results/eval/same_viewpoint_results*/
str_results/image/output*/
str_results/cvdomes_eo/cvdomes_eo/
output_3/
